@{
    ViewData["Title"] = "Home";
}


<figure class="text-end">
    <blockquote class="blockquote">
        <p>Man is a gaming animal. He must always be trying to get the better in something or other.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Charles Lamb
    </figcaption>
</figure>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed malesuada quam, ac euismod lorem. In sodales porttitor turpis, quis viverra leo eleifend vitae. Cras et justo ante. Vivamus vitae venenatis metus, et porta magna.
    Aenean nec accumsan dui, congue iaculis felis. Vestibulum tempor rutrum ligula, et ultrices nisl venenatis vel. Suspendisse sit amet libero sed metus pretium ullamcorper vel vitae risus. Maecenas malesuada justo id mollis porttitor.
</p>
<p>
    Vivamus pharetra purus ac lacus egestas, ac cursus dolor ultricies. Morbi dignissim pharetra imperdiet. Nam iaculis, felis ut mattis dignissim, purus dui pharetra turpis, ac viverra turpis odio nec est.
    Nulla varius, arcu id semper vulputate, dui nulla molestie justo, vitae viverra massa nisi vel enim. Vestibulum nulla libero, scelerisque ac augue et, mollis ullamcorper sapien.
    Nunc sagittis, diam ac dapibus gravida, dui lectus pharetra augue, quis condimentum velit massa in mauris. In hac habitasse platea dictumst. Integer sagittis rhoncus convallis.
</p>
