@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to our webshop! We take your privacy very seriously, except when we're too busy admiring our amazing products to remember.</p>
<p>Here's what you need to know about our privacy policy:</p>
<ol>
    <li>
        <p>Your personal information is safe with us, unless one of our employees accidentally leaves the company USB-stick on a train.</p>
    </li>
    <li>
        <p>We promise not to share your information with any third parties. Unless, of course, someone offers us a lifetime supply of chocolate, then all bets are off.</p>
    </li>
    <li>
        <p>Our website uses cookies to enhance your shopping experience, but don't worry, they won't steal your identity. They're just here to remind us what snacks we like to eat while we work.</p>
    </li>
    <li>
        <p>We have a team of highly trained security experts who are always on the lookout for any potential threats to your data, unless they're busy playing video games in the break room.</p>
    </li>
    <li>
        <p>We may send you promotional emails from time to time, but don't worry, we won't spam you. We'll just send you a few dozen emails a day until you finally cave in and buy something.</p>
    </li>
</ol>
<p>So there you have it, our completely trustworthy and not-at-all-ironic privacy policy. Shop with us today and rest assured that your personal information is in good hands, unless we forget where we put it.</p>